# Activity 3.2 – Recoding and Aggregating a Health Care Survey

## Part 1 – Three ways to recode

Before we get the the main event, let’s practice recoding the survey
data in three ways. In all cases, our goal is to assign a score of `5` to
`"Strongly Agree"` down to a score of `1` to `"Strongly Disagree"`.

| Old Label                    | Regular Coded Value |
|------------------------------|---------------------|
| `"Strongly Disagree"`          | 1                   |
| `"Somewhat Disagree"`          | 2                   |
| `"Neither Agree nor Disagree"` | 3                   |
| `"Somewhat Agree"`             | 4                   |
| `"Strongly Agree"`             | 5                   |

**Preparation.** Recall that the `more_dfply.recode` function allows us to
recode a column using a `dict`.

1.  Load the health survey data found in the data folder.  Inspect the column names, then fix the issues with the `"."`s.  **Hint.** We can use `dfply.rename` with the `dict` unpacking trick.

In [1]:
import collections
collections.Iterable = collections.abc.Iterable
import pandas as pd
pd.set_option("display.max_column", None)

In [2]:
health_survey = pd.read_csv("./data/health_survey.csv")
health_survey.head()

,ID,F1,F5,F2,F1.1,F2.1,F6,F4,F3,F5.1,F1.2,F2.2,F6.1,F2.3,F4.1,F2.4,F5.2,F2.5,F6.2,F1.3,F2.6,F5.3,F4.2,F2.7,F3.1,F2.8,F5.4,F3.2,F1.4,F3.3,F1.5,F5.5,F6.3,F1.6,F5.6,F2.9,F3.4,F4.3,F2.10,F1.7,F6.4,F4.4,F5.7,F3.5,F2.11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree
2,3,Strongly Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Strongly Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,NaN,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Disagree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree
3,4,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Strongly Agree,Somewhat Disagree,Strongly Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
4,5,Strongly Agree,Strongly Disagree,Neither Agree nor Disagree,Strongly Agree,Somewhat Agree,Strongly Disagree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,Strongly Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Disagree,Neither Agree nor Disagree,Strongly Agree,Strongly Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree

In [3]:
from dfply import *

In [4]:
health_survey_fixed = (health_survey
                          >> gather("question", "response", columns_from("F1"))
                          >> mutate(question = X.question.str.replace(".", "_", regex=False))
                          >> spread("question", "response")                           
                      )
health_survey_fixed.head(2)

,ID,F1,F1_1,F1_2,F1_3,F1_4,F1_5,F1_6,F1_7,F2,F2_1,F2_10,F2_11,F2_2,F2_3,F2_4,F2_5,F2_6,F2_7,F2_8,F2_9,F3,F3_1,F3_2,F3_3,F3_4,F3_5,F4,F4_1,F4_2,F4_3,F4_4,F5,F5_1,F5_2,F5_3,F5_4,F5_5,F5_6,F5_7,F6,F6_1,F6_2,F6_3,F6_4
0,1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Disagree

2.  Use `unique` to verify the labels of various columns. Create a `dict` mapping each survey responses to the corresponding score.

In [5]:
health_survey_fixed.F2.unique()

array(['Somewhat Agree', 'Strongly Agree', 'Neither Agree nor Disagree',
       'Somewhat Disagree', nan], dtype=object)

In [6]:
likert_map = {"Strongly Disagree" : 1,
              "Somewhat Disagree" : 2,
              "Neither Agree nor Disagree" : 3,
              "Somewhat Agree" : 4,
              "Strongly Agree" : 5
             }

3.  Test your dictionary with the `map` method on one of the columns.  The columns `F2` and `F1.1` are good test cases.

In [7]:
map1 = (health_survey_fixed
    >> mutate(F2_num = X.F2.map(likert_map))
    >> mutate(F2_num = X.F2_num.astype("Int64"))
    >> select("F2", "F2_num")
)
map1.head()

                           F2  F2_num
0              Somewhat Agree       4
1              Somewhat Agree       4
2              Somewhat Agree       4
3              Strongly Agree       5
4  Neither Agree nor Disagree       3

In [8]:
map1.F2_num.unique()

<IntegerArray>
[4, 5, 3, 2, <NA>]
Length: 5, dtype: Int64

In [9]:
map1.dtypes

F2        object
F2_num     Int64
dtype: object

4. Explain why you should be using the `pandas` `Int64` data type here.  Details on the necessity and use of this data type can be found in [Lecture 2.4](https://github.com/wsu-stat489/module2_intro_to_pandas/blob/main/2_4_pandas_dtypes.ipynb)

> The missing values means that pandas cannot read it as a normal integer, so it will use numpy floats instead. Int64 will allow for the missing values while keeping the data as ints.

#### Method 1 – Brute Force. 

The naïve approach to applying our mapping
is the construct a `mutate`, writing one line per column. This will become
annoying.

1.  Create a pipe that uses `mutate` to transform at least 10 of the columns.

In [10]:
(health_survey_fixed
    >> mutate(F1_num = X.F1.map(likert_map).astype("Int64"))
    >> mutate(F1_1_num = X.F1_1.map(likert_map).astype("Int64"))
    >> mutate(F1_2_num = X.F1_2.map(likert_map).astype("Int64"))
    >> mutate(F1_3_num = X.F1_3.map(likert_map).astype("Int64"))
    >> mutate(F1_4_num = X.F1_4.map(likert_map).astype("Int64"))
    >> mutate(F1_5_num = X.F1_5.map(likert_map).astype("Int64"))
    >> mutate(F1_6_num = X.F1_6.map(likert_map).astype("Int64"))
    >> mutate(F1_7_num = X.F1_7.map(likert_map).astype("Int64"))
    >> mutate(F2_num = X.F2.map(likert_map).astype("Int64"))
    >> mutate(F2_1_num = X.F2_1.map(likert_map).astype("Int64"))
    >> select(columns_to("F2_1"), columns_from("F1_num"))
    >> head()
)

,ID,F1,F1_1,F1_2,F1_3,F1_4,F1_5,F1_6,F1_7,F2,F1_num,F1_1_num,F1_2_num,F1_3_num,F1_4_num,F1_5_num,F1_6_num,F1_7_num,F2_num,F2_1_num
0,1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,4,4,4,4,3,4,4,4,4,4
1,2,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,4,4,4,4,4,3,4,4,4,4
2,3,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,5,5,5,5,2,5,5,4,4,5
3,4,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Strongly Agree,4,4,5,4,3,4,5,3,5,5
4,5,Strongly Agree,Strongly Agree,Strongly Agree,Strongly Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,5,5,5,5,4,4,5,4,3,4

In [11]:
len(health_survey_fixed.columns)

45

2.  Explain,

    1.  in vivid detail, exactly how annoying it would be to continue
        this process.

> We have 45 columns...

    B.  how this might be prone to buggy code.

> Too easy to mistype something (use different columns on each side of the equation, forget a column, do a column twice) as your eyes glaze over and you fall asleep at your keyboard. 
  
> Hard to read as your eyes glaze over and you fall asleep at your keyboard.  
  
> Any mistake that was made in the process is made n times.

#### Method 2 – dictionary unpacking. 

Recall that we cleaned up repeated,
similar transformations in [Lecture 3.5](https://github.com/wsu-stat489/module3_more_about_mutate/blob/main/3_5_DRY_and_many_transformations.ipynb). Let’s apply that approach here.

1.  Get a `list` of all the questions columns, e.g., using `dfply.columns_from`.

In [12]:
question_cols = list(health_survey_fixed.columns[1:]) # first thing is index, rest are questions
question_cols[:3]

['F1', 'F1_1', 'F1_2']

2.  Pick one of the columns and write the expression to transform that
    column. Be sure to use the `df["col_string"]` method of referencing
    the column.

In [13]:
col_ex = health_survey_fixed["F1"].map(likert_map).astype("Int64")
col_ex.head()

0    4
1    4
2    5
3    4
4    5
Name: F1, dtype: Int64

3.  Create a variable to hold this column string. Replace the hard coded
    column name with a variable. Rerun to test.

In [14]:
col = "F1"
health_survey_fixed[col].map(likert_map).astype("Int64").head()

0    4
1    4
2    5
3    4
4    5
Name: F1, dtype: Int64

4.  Convert the single expression to a `dict` using a comprehension
    that iterates over all column names. We want the keys to the be the
    column names and values the resulting recoded columns.  Rerun to
    test. Clean up the code by packaging the complexity in `lambda` functions.

In [15]:
col_dict = { f"{col}_num" : X[col].map(likert_map).astype("Int64") for col in question_cols }
col_dict

{'F1_num': <dfply.base.Intention at 0x7fe1ef6f8880>,
 'F1_1_num': <dfply.base.Intention at 0x7fe1ef6f8430>,
 'F1_2_num': <dfply.base.Intention at 0x7fe1ef6fa110>,
 'F1_3_num': <dfply.base.Intention at 0x7fe1ef6fa560>,
 'F1_4_num': <dfply.base.Intention at 0x7fe1ef6fa9b0>,
 'F1_5_num': <dfply.base.Intention at 0x7fe1ef6fae00>,
 'F1_6_num': <dfply.base.Intention at 0x7fe1ef6fb250>,
 'F1_7_num': <dfply.base.Intention at 0x7fe1ef6fb6a0>,
 'F2_num': <dfply.base.Intention at 0x7fe1ef6fbaf0>,
 'F2_1_num': <dfply.base.Intention at 0x7fe1ef6fbf40>,
 'F2_10_num': <dfply.base.Intention at 0x7fe1ef6d83d0>,
 'F2_11_num': <dfply.base.Intention at 0x7fe1ef6d8820>,
 'F2_2_num': <dfply.base.Intention at 0x7fe1ef6d8c70>,
 'F2_3_num': <dfply.base.Intention at 0x7fe1ef6d90c0>,
 'F2_4_num': <dfply.base.Intention at 0x7fe1ef6d9510>,
 'F2_5_num': <dfply.base.Intention at 0x7fe1ef6d9960>,
 'F2_6_num': <dfply.base.Intention at 0x7fe1ef6d9db0>,
 'F2_7_num': <dfply.base.Intention at 0x7fe1ef6da260>,
 'F2_8_num': <dfply.base.Intention at 0x7fe1ef6da740>,
 'F2_9_num': <dfply.base.Intention at 0x7fe1ef6dac20>,
 'F3_num': <dfply.base.Intention at 0x7fe1ef6db100>,
 'F3_1_num': <dfply.base.Intention at 0x7fe1ef6db5e0>,
 'F3_2_num': <dfply.base.Intention at 0x7fe1ef6dbac0>,
 'F3_3_num': <dfply.base.Intention at 0x7fe1ef6dbfa0>,
 'F3_4_num': <dfply.base.Intention at 0x7fe1ef6d04c0>,
 'F3_5_num': <dfply.base.Intention at 0x7fe1ef6d09a0>,
 'F4_num': <dfply.base.Intention at 0x7fe1ef6d0e80>,
 'F4_1_num': <dfply.base.Intention at 0x7fe1ef6d1360>,
 'F4_2_num': <dfply.base.Intention at 0x7fe1ef6d1840>,
 'F4_3_num': <dfply.base.Intention at 0x7fe1ef6d1d20>,
 'F4_4_num': <dfply.base.Intention at 0x7fe1ef6d2200>,
 'F5_num': <dfply.base.Intention at 0x7fe1ef6d26e0>,
 'F5_1_num': <dfply.base.Intention at 0x7fe1ef6d2bc0>,
 'F5_2_num': <dfply.base.Intention at 0x7fe1ef6d30a0>,
 'F5_3_num': <dfply.base.Intention at 0x7fe1ef6d3580>,
 'F5_4_num': <dfply.base.Intention at 0x7fe1ef6d3a60>,
 'F5_5_num': <dfply.base.Intention at 0x7fe1ef6d3f40>,
 'F5_6_num': <dfply.base.Intention at 0x7fe1ef578460>,
 'F5_7_num': <dfply.base.Intention at 0x7fe1ef578940>,
 'F6_num': <dfply.base.Intention at 0x7fe1ef578e20>,
 'F6_1_num': <dfply.base.Intention at 0x7fe1ef579300>,
 'F6_2_num': <dfply.base.Intention at 0x7fe1ef5797e0>,
 'F6_3_num': <dfply.base.Intention at 0x7fe1ef579cc0>,
 'F6_4_num': <dfply.base.Intention at 0x7fe1ef57a1a0>}

In [16]:
@make_symbolic
def to_likert_score(series):
    return X[series].map(likert_map).astype("Int64")

In [17]:
col_dict2 = { col : to_likert_score(col) for col in question_cols}
col_dict2

{'F1': <dfply.base.Intention at 0x7fe1ef57abc0>,
 'F1_1': <dfply.base.Intention at 0x7fe1ef57b0a0>,
 'F1_2': <dfply.base.Intention at 0x7fe1ef57b580>,
 'F1_3': <dfply.base.Intention at 0x7fe1ef57ba60>,
 'F1_4': <dfply.base.Intention at 0x7fe1ef57bf40>,
 'F1_5': <dfply.base.Intention at 0x7fe1ef570460>,
 'F1_6': <dfply.base.Intention at 0x7fe1ef570940>,
 'F1_7': <dfply.base.Intention at 0x7fe1ef570e20>,
 'F2': <dfply.base.Intention at 0x7fe1ef571300>,
 'F2_1': <dfply.base.Intention at 0x7fe1ef5717e0>,
 'F2_10': <dfply.base.Intention at 0x7fe1ef571cc0>,
 'F2_11': <dfply.base.Intention at 0x7fe1ef5721a0>,
 'F2_2': <dfply.base.Intention at 0x7fe1ef572680>,
 'F2_3': <dfply.base.Intention at 0x7fe1ef572b60>,
 'F2_4': <dfply.base.Intention at 0x7fe1ef573040>,
 'F2_5': <dfply.base.Intention at 0x7fe1ef573520>,
 'F2_6': <dfply.base.Intention at 0x7fe1ef573a00>,
 'F2_7': <dfply.base.Intention at 0x7fe1ef573ee0>,
 'F2_8': <dfply.base.Intention at 0x7fe1ef56c400>,
 'F2_9': <dfply.base.Intention at 0x7fe1ef56c8e0>,
 'F3': <dfply.base.Intention at 0x7fe1ef56cdc0>,
 'F3_1': <dfply.base.Intention at 0x7fe1ef56d2a0>,
 'F3_2': <dfply.base.Intention at 0x7fe1ef56d780>,
 'F3_3': <dfply.base.Intention at 0x7fe1ef56dc60>,
 'F3_4': <dfply.base.Intention at 0x7fe1ef56e140>,
 'F3_5': <dfply.base.Intention at 0x7fe1ef56e620>,
 'F4': <dfply.base.Intention at 0x7fe1ef56eb00>,
 'F4_1': <dfply.base.Intention at 0x7fe1ef56efe0>,
 'F4_2': <dfply.base.Intention at 0x7fe1ef56f4c0>,
 'F4_3': <dfply.base.Intention at 0x7fe1ef56f9a0>,
 'F4_4': <dfply.base.Intention at 0x7fe1ef56fe80>,
 'F5': <dfply.base.Intention at 0x7fe1ef5643a0>,
 'F5_1': <dfply.base.Intention at 0x7fe1ef564880>,
 'F5_2': <dfply.base.Intention at 0x7fe1ef564d60>,
 'F5_3': <dfply.base.Intention at 0x7fe1ef565240>,
 'F5_4': <dfply.base.Intention at 0x7fe1ef565720>,
 'F5_5': <dfply.base.Intention at 0x7fe1ef565c00>,
 'F5_6': <dfply.base.Intention at 0x7fe1ef5660e0>,
 'F5_7': <dfply.base.Intention at 0x7fe1ef5665c0>,
 'F6': <dfply.base.Intention at 0x7fe1ef566aa0>,
 'F6_1': <dfply.base.Intention at 0x7fe1ef566f80>,
 'F6_2': <dfply.base.Intention at 0x7fe1ef567460>,
 'F6_3': <dfply.base.Intention at 0x7fe1ef567940>,
 'F6_4': <dfply.base.Intention at 0x7fe1ef567e20>}

5.  Use our dictionary in a mutate using `**` unpacking.

In [18]:
health_survey_recoded = (health_survey_fixed
                            >> mutate(**col_dict2)
                            >> head()
                        )
health_survey_recoded.head()

,ID,F1,F1_1,F1_2,F1_3,F1_4,F1_5,F1_6,F1_7,F2,F2_1,F2_10,F2_11,F2_2,F2_3,F2_4,F2_5,F2_6,F2_7,F2_8,F2_9,F3,F3_1,F3_2,F3_3,F3_4,F3_5,F4,F4_1,F4_2,F4_3,F4_4,F5,F5_1,F5_2,F5_3,F5_4,F5_5,F5_6,F5_7,F6,F6_1,F6_2,F6_3,F6_4
0,1,4,4,4,4,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,4,4,2,4,4,4,4,3,4,2,4,4,4,4,2,4,4,2,4,4,2,4
1,2,4,4,4,4,4,3,4,4,4,4,4,4,3,4,4,4,4,4,4,4,3,3,3,3,4,3,4,3,4,3,3,2,3,4,4,3,3,2,4,2,4,4,2,2
2,3,5,5,5,5,2,5,5,4,4,5,4,4,4,4,4,5,4,<NA>,4,4,4,2,4,4,4,1,4,3,4,3,4,3,4,2,4,4,2,2,5,2,3,4,2,4
3,4,4,4,5,4,3,4,5,3,5,5,4,4,5,4,5,5,5,4,4,4,2,2,2,2,2,2,3,3,4,4,3,4,4,2,4,4,2,2,4,3,4,4,4,3
4,5,5,5,5,5,4,4,5,4,3,4,4,4,4,2,4,5,5,4,4,4,4,4,4,4,4,2,5,3,4,3,4,1,3,1,5,3,1,1,5,1,4,5,3,4

#### Method 3 – Stack Transform Unstack. 

Another method for applying the
same transformation to multiple columns is to (A) stack all the columns
that need transformation, (B) applying the transformation to the stacked
values column, and (C) unstacking the data back into the original shape.
This is the approach you will apply in **Part 2**.

## Part 2 – Performing data preparation

Dr. Bergen, Director of the Statistical Consulting Center at WSU, needs
you to prepare the attached data for analysis. The file
**health_survey.csv** contains the responses to a series of
health-related questions and we need to recode the responses as 1-5
using the definition below. It is important to note that the clients
consider “Strongly Agree” the best answer for most of the questions
coded and want it mapped to 5, but there are a handful of questions for
which they want the mapping reversed as “Strongly Disagree” the
preferred answer. The two types of codings are illustrated in the table
shown below and the list of questions that should receive the reverse
coding are available in the file **ReverseCodingItems.csv**.

| Old Label                    | Regular Coded Value | Reverse Coding |
|------------------------------|---------------------|----------------|
| “Strongly Disagree”          | 1                   | 5              |
| “Somewhat Disagree”          | 2                   | 4              |
| “Neither Agree nor Disagree” | 3                   | 3              |
| “Somewhat Agree”             | 4                   | 2              |
| “Strongly Agree”             | 5                   | 1              |

**Note.** I have prototyped this process in JMP and have provided screenshots of the resulting tables as a guide.

1.  Read in the `ReverseCodingItems.csv` file.  Note that the names in the `"Column Name"` column contain `"."`s.  Fix this, then look at the questions that need reverse coding and explain why it makes sense to reverse the coding on these items.

In [19]:
pd.set_option('display.max_colwidth', None)

In [20]:
reverse_coding = pd.read_csv("./data/ReverseCodingItems.csv")
reverse_coding.head()

,Question,Construct,Question # on Qualtrics Survey,Needs Reverse Coding?,Column Name
0,"In the future, I plan to participate in a community service organization",1,1,No,F1
1,Individuals are responsible for their own misforturnes,5,2,Yes,F5
2,"When tryng to understand the position of others, I try to palce myself in their position",2,3,No,F2
3,I plan to become involved in my community,1,4,No,F1.1
4,I can communicate well with others,2,5,No,F2.1

In [21]:
# beware, in place modification
reverse_coding = (reverse_coding 
                      >> rename(**{name.replace(" ", "_"): name for name in reverse_coding.columns}) # fix colnames
                      >> rename(Question_Text = X.Question) # We need "Question" for join but ought to keep text
                      >> mutate(Question = X.Column_Name.str.replace(".", "_", regex=False)) # Fix question numbers
                 )
reverse_coding.head()

,Question_Text,Construct,Question_#_on_Qualtrics_Survey,Needs_Reverse_Coding?,Column_Name,Question
0,"In the future, I plan to participate in a community service organization",1,1,No,F1,F1
1,Individuals are responsible for their own misforturnes,5,2,Yes,F5,F5
2,"When tryng to understand the position of others, I try to palce myself in their position",2,3,No,F2,F2
3,I plan to become involved in my community,1,4,No,F1.1,F1_1
4,I can communicate well with others,2,5,No,F2.1,F2_1

In [22]:
(reverse_coding 
    >> filter_by(X["Needs_Reverse_Coding?"] == "Yes")
    >> select(X.Question_Text)
    >> head()
)

                                                                                                 Question_Text
1                                                       Individuals are responsible for their own misforturnes
5   It is hard for a group to function effectively when the people involved come from very diverse backgrounds
13                                                                        I am a better follower than a leader
15                                We need to look no further than the individual in assessing his/her problems
30                                                              People are poor because they choose to be poor

> Sometimes we **want** a negative response

2. Next, you will perform the data preparation by completing each of
    the tasks listed below.  First, *Stack* the response columns.

<img src="img/media/image1.png" style="width:2.91924in;height:1.85212in" alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.30.46%20" />

Work in a pipe and add a temporary `head` at the end.

In [23]:
(health_survey_fixed
    >> gather("Question", "Response", columns_from("F1"))
    >> head
)

   ID Question        Response
0   1       F1  Somewhat Agree
1   2       F1  Somewhat Agree
2   3       F1  Strongly Agree
3   4       F1  Somewhat Agree
4   5       F1  Strongly Agree

3.  Make a new column called *Needs Reverse* by joining on
    the `"Yes"` or `"No"` values from the *Needs Reverse Coding?* from **ReverseCodingItems.csv.**

> <img src="img/media/image2.png"
> style="width:3.78315in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.35.26%20" />

Start by copying and adding to the pipe from the previous cell. In practice, you would continue to work in the same cell, but we are illustrating the standard best practice in working with data, by continually cycling through the following steps

1. Add the next step
2. Rerun your code to test.

I want to verify that you are following this practice, which is why we will be copying our previous code to the next step

In [24]:
(health_survey_fixed
    >> gather("Question", "Response", columns_from("F1"))
    >> left_join(reverse_coding, by="Question")
    >> head
)

,ID,Question,Response,Question_Text,Construct,Question_#_on_Qualtrics_Survey,Needs_Reverse_Coding?,Column_Name
0,1,F1,Somewhat Agree,"In the future, I plan to participate in a community service organization",1,1,No,F1
1,2,F1,Somewhat Agree,"In the future, I plan to participate in a community service organization",1,1,No,F1
2,3,F1,Strongly Agree,"In the future, I plan to participate in a community service organization",1,1,No,F1
3,4,F1,Somewhat Agree,"In the future, I plan to participate in a community service organization",1,1,No,F1
4,5,F1,Strongly Agree,"In the future, I plan to participate in a community service organization",1,1,No,F1

4.   We already created a `dict` for the regular coding.  Make a `dict` for the reverse coding using a `dict` comprehension.  Remember to use the `items` method and two names to iterate through the original `dict`.  Use subtraction.

In [25]:
# happens to work generically but note that base dictionaries are not guaranteed to preserve key order
# likert_reversed = { k: v for k,v in zip(reversed(likert_map.keys()), likert_map.values())}

likert_reversed = { k: 6-v for k,v in likert_map.items()}
likert_reversed

{'Strongly Disagree': 5,
 'Somewhat Disagree': 4,
 'Neither Agree nor Disagree': 3,
 'Somewhat Agree': 2,
 'Strongly Agree': 1}

5.   Next we need to make a column with the question type.  For example, all questions that start with `F1`, like `F1` and `F1_1`, need to be coded as `F1`.  Add a `mutate` to create this column using one of the string transformations (extract, split, etc.) from this module.

> <img src="img/media/image6.png"
> style="width:2.97769in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.45.03%20" />

In [26]:
(health_survey_fixed
    >> gather("Question", "Response", columns_from("F1"))
    >> left_join(reverse_coding, by="Question")
    >> drop("Question_Text", "Construct", "Question_#_on_Qualtrics_Survey", "Column_Name")
    >> mutate(Question_Type = X.Question.str.slice(stop=2))
    >> tail
)

,ID,Question,Response,Needs_Reverse_Coding?,Question_Type
11611,260,F6_4,Neither Agree nor Disagree,Yes,F6
11612,261,F6_4,NaN,Yes,F6
11613,262,F6_4,Neither Agree nor Disagree,Yes,F6
11614,263,F6_4,Somewhat Disagree,Yes,F6
11615,264,F6_4,Neither Agree nor Disagree,Yes,F6

6.  Make a new column by *Recoding* the Question Types to *F1, F2, …,
    F6.* based on the `Question Type`. **Hint:** You might want to use the `dfply.ifelse`.

> <img src="img/media/image6.png"
> style="width:2.97769in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.45.03%20" />

In [27]:
# ?????????? what is this doing that the previous one did not?
# We want to recode the question type to be ... itself?
# Or is this the point that we're supposed to recode the response?
# But that still wouldn't be based on the question type, it would be based on whether Needs_Reverse_Coding

In [28]:
(health_survey_fixed
    >> gather("Question", "Response", columns_from("F1"))
    >> left_join(reverse_coding, by="Question")
    >> mutate(Recoded_Value = if_else(X["Needs_Reverse_Coding?"] == "Yes",
                                        X.Response.map(likert_reversed).astype("Int64"),                                        
                                        X.Response.map(likert_map).astype("Int64")
                                     )
             )
    >> drop("Question_Text", "Construct", "Question_#_on_Qualtrics_Survey", "Column_Name")
    >> mutate(Question_Type = X.Question.str.slice(stop=2))
    >> head()
)

,ID,Question,Response,Needs_Reverse_Coding?,Recoded_Value,Question_Type
0,1,F1,Somewhat Agree,No,4,F1
1,2,F1,Somewhat Agree,No,4,F1
2,3,F1,Strongly Agree,No,5,F1
3,4,F1,Somewhat Agree,No,4,F1
4,5,F1,Strongly Agree,No,5,F1

7.  *Aggregate* and *unstack.*

> <img src="img/media/image7.png"
> style="width:2.46321in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.46.11%20" />
> <img src="img/media/image8.png"
> style="width:2.96893in;"
> alt="../../../../Desktop/Screen%20Shot%202018-03-22%20at%201.46.34%20" />

In [29]:
final_results = (health_survey_fixed
    >> gather("Question", "Response", columns_from("F1"))
    >> left_join(reverse_coding, by="Question")
    >> mutate(Recoded_Value = if_else(X["Needs_Reverse_Coding?"] == "Yes",
                                        X.Response.map(likert_reversed).astype("Int64"),                                        
                                        X.Response.map(likert_map).astype("Int64")
                                     )
             )
    >> drop("Question_Text", "Construct", "Question_#_on_Qualtrics_Survey", "Column_Name")
    >> mutate(Question_Type = X.Question.str.slice(stop=2))
    >> group_by(X.ID, X.Question_Type)
    >> summarize(Recoded_Total = X.Recoded_Value.sum())
    >> spread(X.Question_Type, X.Recoded_Total)
)
final_results.head()

   ID  F1  F2  F3  F4  F5  F6
0   1  31  48  20  17  28  18
1   2  31  47  19  17  27  20
2   3  36  46  19  18  32  17
3   4  32  54  12  15  30  16
4   5  37  47  22  19  36  19

8.  Save the table to a csv file in the `data` folder.

In [30]:
final_results.to_csv("./data/summarized_survey")

**Deliverables.** Submit this document with your answer to question 1,
the JMP file containing the results of Part 1, and a csv file with your
final table.